/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #f9f9f9;
  display: grid;
  grid-template-areas:
    "header header header"
    "container container aside"
    "container container aside2"
    "footer footer footer";
  gap: 10px;
  min-height: 100vh;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
}

header {
  grid-area: header;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2%;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  font-weight: bold;
  color: #f9f9f9;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

nav a.active,
nav a:hover {
  background-color: #ff0000;
  color: #f9f9f9;
}

.container {
  margin-left: 10%;
  padding: 0 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  grid-area: container;
}

h1 {
  text-align: center;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 20%;
  margin: 20px 0px 20px 2%;
  padding: 10px;
  text-align: center;
}

.card img {
  max-width: 100%
}

button {
  background-color: #ff0000;
  color: #f9f9f9;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
}

aside {
  grid-area: aside;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside p {
  text-align: justify;
}

.aside2 {
  grid-area: aside2;
  margin-right: 10%;
  padding: 3%;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: #333333;
  color: #f9f9f9;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}